<div class="home-landing-img">
<div class="home-header">
    <div class="home-logo"></div>
    <div class="map-ham">
        <div class="home-map-marker">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="ham-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>

        </div>
    </div>
    <!-- <div class="home-links">
      <div class="home-vehicles">
        <p>VEHICLES</p>
      </div>
      <div class="home-shopping-tools">
        <p>SHOPPING TOOLS</p>
      </div>
      <div class="home-why-mazda">
        <p>WHY MAZDA</p>
      </div>
      <div class="home-ownders">
        <p>OWNERS</p>
      </div>
      <div class="home-find-dealer">
        <p>FIND A DEALER</p>
      </div>
      <div class="home-map-logo">

      </div>
    </div> -->
</div>
<div class="home-main-text">
  <span>AVAILABLE PREDICTIVE I-ACTIV AWD</span>
</div>
<div class="home-buttons">
  <div class="explore-button">
    <button class="explore-button">EXPLORE CX-9</button>
  </div>
  <div class="build-button">
    <button class="build-button">BUILD YOURS</button>
  </div>

</div>
<div class="home-zoom">
  <span>Zoom-Zoom</span>
</div>

</div>
