<div class="home-landing-img">
    <div class="home-header">
        <div class="home-logo"></div>
        <div class="map-ham">
            <div class="home-map-marker">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </div>
            <div class="ham-menu">
                <i class="fa fa-bars" aria-hidden="true"></i>

            </div>
        </div>
        <!--links for mobile responsive-->

        <!-- <div class="home-links">
      <div class="home-vehicles">
        <p>VEHICLES</p>
      </div>
      <div class="home-shopping-tools">
        <p>SHOPPING TOOLS</p>
      </div>
      <div class="home-why-mazda">
        <p>WHY MAZDA</p>
      </div>
      <div class="home-ownders">
        <p>OWNERS</p>
      </div>
      <div class="home-find-dealer">
        <p>FIND A DEALER</p>
      </div>
      <div class="home-map-logo">

      </div>
    </div> -->
    </div>
    <div class="home-main-text">
        <span>AVAILABLE PREDICTIVE I-ACTIV AWD</span>
    </div>
    <div class="home-buttons">
        <div class="explore-button">
            <button class="explore-button">EXPLORE CX-9</button>
        </div>
        <div class="build-button">
            <button class="build-button">BUILD YOURS</button>
        </div>

    </div>
    <div class="home-zoom">
        <span>Zoom-Zoom</span>
    </div>

</div>

<div class="red-mazda3-img"></div>
<div class="red-mazda3-text">
  <span class="mazda3"><b>THE 2017 MAZDA3 5-DOOR</b></span>
  <span class=crafted>Crafted for one reason: the perfect drive.</span>
</div>

<div class="black-mazdamx5-img"></div>
<div class="black-mazdamx5-text">
  <span class="mazdamx5"><b>THE 2017 MAZDA MX-5 MIATA RF</b></span>
  <span class="anIcon">An icon reimagined.</span>
</div>

<div class="red-mazdacx5-img"></div>
<div class="mazdacx5-text">
  <span class="mazdacx5">THE 2016.5 MAZDA CX-5</span>
  <span class="predictive">With available predictive i-Active AWD</span>
</div>
<div class="build-background">
  <div class="build-2017">
    THE 2017 MAZDA3
  </div>
  <div class="build-header">
    A SINGLE MINDED DEVOTION TO EVERY SINGLE DETAIL.
  </div>
  <div class="build-body">
    Every aspect of the redesigned interior of the new Mazda3, from materials to layout, was conceived to deliver unmatched comfort and premium driving experience.
  </div>
  <div class="build-mazda3-button">

  </div>
</div>
